body
{
	font-family: sans-serif, "Helvetica";
}

div#container 
{
    margin: 0 auto;
	text-align: center;
    width: 45%;
}

h2
{
    padding: 2% 2% 2% 2%;
    display: inline-block;
    border: 4px rgb(160,100,213) solid;
    border-radius: 15px;	
}


form
{
	width: 80%;
}

form label
{
	text-align: left;
}

form label,input
{
	display: block;
    margin: .5% .5% .5% .5%;
    
    border: none; /* removes input shadows */
}

/* Matches form input els whose name starts with password or equals username */
form input[name^="password"],input[name="username"]
{
    margin: auto; /* to center input button */
	height: 20px;
    width: 100%;
    border-radius: 5px;
    background: rgb(200,245,200);
}

form input[type="submit"] 
{
    font-family: sans-serif, "Helvetica";
    font-size: 1.3em;
    background: white;
    border: 4px solid rgb(160,100,213);
    border-radius: 4px;
    margin: auto; /* to center the input button */
}

*:focus 
{
	outline: none;
}

form input[type="submit"]:hover 
{
	background: rgb(160,100,213);
    color: white;
}
