body *
{
  font-family: sans-serif, "Helvetica";
  font-size: 100%;
}

input
{
  vertical-align:top;
  font-size: 30px;
  border: 5px solid coral;
}

button
{
  height: 42px;
  vertical-align:top;
  display: inline-block;
  border: 5px solid coral;
  background: none;
}

button:hover
{
  color: white;
  background: DeepSkyBlue;
}

#results
{
    display: inline-block;
    padding: 10%;
    width: 600px;
    height: 300px;
    margin-top: 20px;
    border: 5px solid coral;
}
